/.DS_Store
/auto-save-list
/transient
/elpa/*
/eshell
/my-packages
/py
/.org-id-locations
/bookmarks
/eshell/
/kkcrc
/recentf
/transient/
/url/
/emacs-custom.el
/anaconda-mode/
/semanticdb
/.abbrev_defs
/.lsp-session-v1
/tramp
/pyim*
/org*
/README.html
/README.odt
/ac-comphist.dat
/cnfonts/
/request/
/projectile-bookmarks.eld
/network-security.data
/local/
